section {
    padding: 0 4rem;
}

.pr-panner {
    align-items: start;
    margin-top: 4rem;
}

.pr-panner button {
    margin-top: 1rem;
}

.pr-panner>div,
.pr-about>div {
    width: 50%;

}

.pr-panner__para {
    max-width: 32rem;
    font-weight: 400;
    line-height: 20px;
    color: #3D3D3D;
}

.pr-skills-specs {
    justify-content: space-between;


}

.pr-skill-icon {
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    color: darkgreen;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.pr-section {
    margin-top: 8rem;
}

.pr-about>div:last-child {
    padding-left: 4rem;
    ;
}

.pr-project-introduction div:first-child {
    justify-content: space-between;
    align-items: center;
}

.pr-project-card {
    width: 33%;
    height: 360px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);

}

.pr-project-card__image {
    width: 100%;
    height: 175px;
    background-image: url("../assets/imgs/po-3.png");
    background-size: cover;
    background-position: top;
    margin-bottom: 2.5rem;

}

.pr-project-card:nth-child(2) .pr-project-card__image {
    background-image: url("../assets/imgs/po-protofolio.png");


}

.pr-project-card:nth-child(3) .pr-project-card__image {
    background-image: url("../assets/imgs/po-2.png");


}

.pr-project-card__content {
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1rem;
}

.pr-project-card__content>h5 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: capitalize;
}

.pr-project-card__content>a {
    position: relative;
    width: fit-content;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
    display: flex;
    align-items: center;
}

.pr-project-card__content>a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    bottom: -4px;
}

.pr-project-card__content>a svg {
    width: 1.2rem;
    height: 1.2rem;
    transform: rotate(-35deg);
    color: lightgreen;
    margin-left: 4px;
}

.pr-project-card:not(.pr-project-card:first-child) {
    margin-left: 2rem;

}

.pr-reviews {
    background-color: var(--shade-color);
}

.pr-reviews-introduction,
.pr-project-introduction {
    margin-bottom: 5rem;
}

.review {
    background-color: #F5FCFF;
}

.review-card {
    width: 33%;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #006B6A;
    padding: 1.5rem;
    border-radius: 8px;


}

.review-card:not(.review-card:last-child) {
    margin-right: 2rem;

}

.review-card-people {
    align-items: center;
}

.review-card-people>div {
    margin-left: 8px;

}



.review-card-people h4 {
    margin: 4px;

}

.pr-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.pr-contact>form {
    margin-left: 11rem;
}

.contact-form {
    justify-content: center;
}

.gap-x-8 {
    column-gap: 2rem;
    /* 16px */
}

.gap-y-8 {
    row-gap: 2rem;
}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.pr-contact__options>label,
.pr-contact__options select,
.pr-contact__options textarea {
    width: 100%;

}

.pr-contact__options {
    margin-top: 2rem;
}

label[for="terms"] {
    display: flex;
    align-items: center;
    justify-self: start;
}

label[for="terms"]>span {
    margin-left: 12px;
    font-weight: 500;
    color: #3D3D3D;
}

input[type="checkbox"] {
    border-radius: 8px;
    border: 1px solid #3d3d3d;
}

form[action="example.html"] {
    flex-direction: column;
}

form[action="example.html"]>button {
    align-self: center;
    margin-top: 1rem;
    width: 8rem;
    height: 3rem;

}